<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <!-- emotes -->
    <% Emoji.all.each do |emoji| %>
      <% size = micropost.emotes_size(emoji[:key]) %>
      <%= link_to micropost_emote_path(micropost, emote: emoji[:key]), class: "emoji #{size.zero? ? 'emoji-gray' : ''}" do %>
        <%= image_tag File.join('emojis', emoji[:key]), size: '25x25', title: emoji[:text] %>
        <%= content_tag :span, size, class: 'count' %>
      <% end %>
    <% end %>
    <!-- end  -->
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= button_to "delete", micropost, method: :delete,
      data: { confirm: "You sure?" } %>
    <% end %>
  </span>
          <!--  -->
  <br>
  <h5>Comment :</h5>
  <%= @comment = micropost.comments %>
  <div id="comments">
    <span id="comment-<%= micropost.id %>">
      <%= render @comment %>
    </span>
  </div>
  <span id="form">
    <%= form_for Comment.new ,remote: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.hidden_field :micropost_id, value: micropost.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.text_area :body, placeholder: "Viết bình luận ...", class: "form-control" %>
      </div>
      <%= f.submit "Comment", class: "btn btn-primary" %>
    <% end %>
  </span>
  <img src="/app/assets/images/emojis/haha.png" alt="">
</li>
